body{
    background-color: #C5E4E7;
    font-family: 'Source Sans Pro', sans-serif;
}


pre{
    padding-top: 50px;
    color: #496C6E;
    font-size: 30px;
    text-align: center;
    letter-spacing: 8px;
    font-weight: bold;
}


.container{
    background-color: white;
    margin: 60px auto auto auto;
    width: 48%;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 20px;
    border-radius: 15px;
    position: relative;
}


label{
    display: block;
    color: #6d797a;
    font-weight: bold;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}


.container  input{
    background-color: #f3f8fb;
    border: none;
    width: 41%;
    height: 10px;
    border-radius: 5px;
    direction:RTL;
    padding: 15px;
    color:#00474b;
    font-weight: bold;
    font-size: 32px;
}


input::placeholder {
    font-weight: bold;
    color: #b1bfc1;
    padding: 7px;
    text-align: right;
    font-size: 24px;
}


.select-tip {
    color: #6d797a;
    font-weight: bold;
    font-size: 17px;
    padding-top: 10px;
    padding-left: 10px;
    display: inline-block;
}


.tip-options{
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    padding-left: 6px;
    margin-top: -10px;
}


.tip-options > button {
    margin: 6px;
    padding: 20px;
    font-size: 22px;
    width: 100px;
    height: 4px;
    border-radius: 5px;
    color: white;
    background-color: #00474b;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    border: none;
}


.tip-options > button:hover {
    background-color: #23c0ab;
    color:#00474b;
}


.tip-options > button:last-child{
    color: #567775;
    font-size: 20px;
    background-color:#f3f8fb;
}


.people{
    padding-top: 25px;
    padding-bottom: 10px;
    display: block;
    color: #6d797a;
    padding-left: 10px;
}


#people-input{
    margin-top: -4px;
    margin-bottom: 25px
}


.input-container {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
}


.input-container .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 17px;
    padding: 10px;
    font-weight: bold;
    color: #b1bfc1;
}


.input-container i {
    position: absolute;
    left: 9px;
    font-size: 12px;
    padding: 15px;
    color: #b1bfc1;
}


.right-container{
    position: absolute;
    display: inline-block;
    left: 380px;
    top: 15px;
    right: 12px;
    bottom: 16px;
    background-color: #00474b;
    border-radius: 15px;
    margin: 10px;
}


.right-container p{
    padding-top: 25px;
    padding-left: 30px;
    color: white;
}


.right-container span{
color: #5e898e;
 }


.right-container h2 span{
    position: absolute;
    left: 220px;
    top: 35px;
    right: 10px;
    bottom: 20px;
    color: #23c0ab;
    font-size: 40px;
}


#tip-amount{
    top: 35px;
}


#total{
    top: 120px;
}


#reset-btn {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0D686D;
    color: #045f65;
    font-size: 16px;
    font-weight: 800;
    position: absolute;
    top:280px;
    left: 35px;
}


@media only screen and (max-width: 600px) {

    .container {
        width: 100vw;
        height: auto;
        margin: 0;
        padding: 20px;
        border-radius: 20px;
        box-sizing: border-box;
    }


    .container input {
        width: 90% ;
        height: 25px ;
    }


    .right-container {
        position: relative ;
        width: 95% ;
        height: 260px ;
        left: -3px ;
        right: 1px ;
        top: 2px ;
        bottom: 15px ;
        margin-bottom: 60px ;
    }


    #reset-btn {
        top: 200px;
        cursor: pointer;
        background-color: #23c0ab;
        font-weight: 760;
        color: #00474b;
    }


    .tip-options {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        gap: 5px;
    }


    .tip-options  button {
        width: 33%;
        height: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: bold;
    }
}