body{
    background-color: #C5E4E7;
    font-family: 'Times New Roman', sans-serif;
}


pre{
    padding-top: 50px;
    color: #496C6E;
    font-size: 30px;
    text-align: center;
    letter-spacing: 8px;
    font-weight: bold;
}


.container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 60px auto auto;
    width: 50%;
    padding: 20px 0 20px 25px;
    border-radius: 15px;
}


.left-side{
    flex: 1.5;
}


label{
    display: block;
    color: #6d797a;
    font-weight: bold;
    font-size: 17px;
    padding: 10px 0 5px 10px;
}


.container  input{
    background-color: #f3f8fb;
    border: none;
    width: 91%;
    height: 10px;
    border-radius: 5px;
    direction:rtl;
    padding: 15px;
    color:#00474b;
    font-weight: bold;
    font-size: 32px;
}


input::placeholder {
    font-weight: bold;
    color: #b1bfc1;
    padding: 7px;
    text-align: right;
    font-size: 24px;
}


.select-tip {
    color: #6d797a;
    font-weight: bold;
    font-size: 17px;
    padding: 15px 0 5px 10px;
}



.tip-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    margin-top: -10px;
    padding-left: 9px;
}

.tip-options > button {
    height: 4px;
    padding: 20px;
    font-size: 22px;
    border-radius: 5px;
    color: white;
    background-color: #00474b;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    border: none;
}

.tip-options > button:active{
    background-color: #23c0ab;
    color:#00474b;
}

.tip-options > button:last-child{
    color: #567775;
    font-size: 20px;
    background-color:#f3f8fb;
}

#custom-tip-container {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #00474b;
    border-radius: 5px;
    background-color: #f3f8fb;
    display: none;
}

#custom-tip-container input {
    height: 40px;
    color: #00474b;
    font-weight: bold;
    font-size: 22px;
    border-radius: 5px;
    padding: 0 14px;
    background-color: white;
}

#custom-tip-container input::placeholder {
    color: #b1bfc1;
    padding: 7px;
    text-align: right;
    font-size: 17px;
}

.people{
    padding: 15px 0 10px 10px;
}

#people-input{
    margin-top: -4px;
    margin-bottom: 25px
}


.input-container {
    position: relative;
}

.input-container i {
    position: absolute;
    left: 9px;
    font-size: 12px;
    padding: 15px;
    color: #b1bfc1;
}


#bill-error, #custom-tip-error, #people-error {
    color: red;
    display: none;
}


.right-side{
    flex: 1.5;
    background-color: #00474b;
    border-radius: 15px;
    margin: 25px;
}


.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.result p {
    color: white;
}

.result h2 span{
    color: #23c0ab;
    font-size: 40px;
 }

.result span{
    color: #5e898e;
}


#reset-btn {
    display: block;
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0D686D;
    color: #045f65;
    font-size: 16px;
    font-weight: 760;
    text-align: center;
    margin: 96px auto 25px;
}

#reset-btn:active {
    background-color: #23c0ab;
    color: #00474b;
}



@media only screen and (max-width: 992px){
    .container{
        width: 80%;
    }
}


@media only screen and (max-width: 600px) {

    .container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 100vw;
        height: auto;
    }

    .left-side,
    .right-side {
        width: 100%;
    }

    .result {
        padding: 11px 20px 0;
    }

    #reset-btn {
        margin: 11px auto 25px;
    }

    .tip-options > button {
        width: 130px;
    }
}